:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #ffffff;
  --text-primary: #42446E;
  --text-secondary: #666666;
  --text-third: #A7A7A7;
  --border: #dddddd;
  --linear-gradient: linear-gradient(45deg, #13b0f5, #e70faa);
  --change-color-icon: invert(0%);
}

.dark-mode {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --text-third: #A7A7A7;
  --border: #444444;
  --change-color-icon: invert(100%)
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--bg-primary);
}
